@using Lessons_Learned_DB.Models;
@using Lessons_Learned_DB.View_Models;
@model homeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title></title> 

    <!--Librerias-->
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-sortable.css" rel="stylesheet" />
    <script src="~/Plugins/jquery.jqplot.js"></script>
    <script src="~/Plugins/jqplot.barRenderer.min.js"></script>
    <script src="~/Plugins/jqplot.categoryAxisRenderer.min.js"></script>    
    <script src="~/Plugins/jqplot.canvasAxisTickRenderer.js"></script>
    <script src="~/Plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script src="~/Plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="~/Plugins/jqplot.pointLabels.min.js"></script>
    <link href="~/Plugins/jquery.jqplot.css" rel="stylesheet" type="text/css" />
    <script src="~/Plugins/bootstrap-table.js"></script>
    <script src="~/Plugins/bootstrap-sortable.js"></script>
   <script src="~/Plugins/jquery.tablesorter.min.js"></script>
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <script src="~/Scripts/fileinput.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    
     <!--css class(es)-->

    <style>
        /*clase block (para el despliegue del boton UPDATE de la tabla)*/
        .block{
             display:none
         }
        /*para que la tabla se fije automaticamente al tamaño de la pantalla*/
        table th {
            width: auto !important;
        }
        .scroll {
        overflow:auto;
        height:100px;

        }
        
        
     </style>

    
</head>
<body>
    <input id="permitlvl" type="hidden" value="@Model.level" />
    <!--Modal Control: Carga un modal por cada accion en la tabla actionList-->
    @foreach (actionList accion in Model.listaAcciones)
{
    <form class="modal fade" method="post" action="~/home/actualizar" id="modal_@accion.reportID" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Data</h4>
                </div>
                <div class="modal-body">
                    <!--repID=ReportID-->
                    <input type="hidden" name="repID" value="@accion.reportID" />
                    <input name="permiso" type="hidden" value="@Model.level" />
                    <div class="form-group center-block">
                        <label>Plant</label>
                        <select class="form-control" name="plt">
                            <option @(accion.plant == "ALL" ? "selected" : "") value="ALL">ALL</option>
                            <option @(accion.plant == "BDM" ? "selected" : "") value="BDM">BDM</option>
                            <option @(accion.plant == "BHUN" ? "selected" : "") value="BHUN">BHUN</option>
                            <option @(accion.plant == "BXL" ? "selected" : "") value="BXL">BXL</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Product ID</label>
                        <input name="pID" type="text" value="@accion.productID" maxlength="13" />
                    </div>

                    <div class="form-group">
                        <label>Issue</label>
                        <input name="iss" type="text" value="@accion.issue" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label>Action Item</label>
                        <textarea name="aIt" style="resize:none" class="form-control" maxlength="1000"> @accion.actionItem </textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority Level</label>
                        <select class="form-control" name="pri">
                            @if(accion.status=="Closed")
                            { 
                            <option @(accion.priority == "" || accion.priority == "None" ? "selected" : "") value="None">None</option>
                            }
                           @if(accion.status!="Closed")
                           { 
                             <option @(accion.priority == "Low" ? "selected" : "") value="Low">Low</option>
                            <option @(accion.priority == "Medium"? "selected" : "") value="Medium">Medium</option>
                            <option @(accion.priority == "High" ? "selected" : "") value="High">High</option>
                           }
                        </select>

                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="sta">
                           
                            <option @(accion.status == "In Progress" ? "selected" : "") value="In Progress">In Progress</option>
                            <option @(accion.status == "Delayed" ? "selected" : "") value="Delayed">Delayed</option>
                            <option @(accion.status == "On Hold" ? "selected" : "") value="On Hold">On Hold</option>
                            <option @(accion.status == "Closed" ? "selected" : "") value="Closed">Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Target Date</label>
                        <input name="tDa" type="date" value="@(accion.targetDate!=null? accion.targetDate.Value.ToString("yyyy-MM-dd") :null)" />
                    </div>
                    <div class="form-group">
                        <label>Closed Date</label>
                        <div class="input-group">
                            <input name="cls" type="date" class="form-control" id="selDate" value="@(accion.closed != null?accion.closed.Value.ToString("yyyy-MM-dd"): null )" readonly="readonly" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="toggleDate();">
                                    Modify
                                </button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Owner</label>
                        <input name="own" type="text" value="@accion.owner" maxlength="30" />
                    </div>
                    <div class="form-group">
                        <label>Status Update</label>
                        <textarea name="sUp" style="resize:none" class="form-control">@(accion.statusUpdate != null ? @accion.statusUpdate.ToString() : "")</textarea>
                    </div>
                    
                    <div class="form-group">
                        <label>
                         Upload File (Word, Excel, PowerPoint and PDF files only)</label>
                        <input type="file" name="fileup" class="file" data-show-preview="false" data-show-upload="false">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
}

    <!--Fin Modals-->

    <div class="container">
        <!--Tabs Principales-->
        <ul id="mainUL" class="nav nav-tabs">
            <li id="t1" class="@(Model.updated!=true?"active":"")"><a data-toggle="tab" href="#home" class="pestania">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home</a>
            </li>
            <li id="t2"><a id="menu1b" data-toggle="tab" href="#menu1">Graphic Results</a></li>
            <li id="t3" class="@(Model.updated==true?"active":"")"><a id="menu2b" data-toggle="tab" href="#menu2">Action List</a></li>
            <li id="t4"><a href="~/user/user" class="pestania">Users Management</a></li>    
        </ul>
    </div>
    <div class="tab-content">
        <!--Main Home: Vista Inicial-->
        <div id="home" class="tab-pane fade @(Model.updated!=true?"in active":"")">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center"> Welcome to Lessons Learned DB.</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <button id="buttonGraph" class="btn btn-primary">
                                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Graphic Results
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button id="buttonTable" class="btn btn-primary">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Action List
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a href="~/registerLesson/register" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add an Action
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="~/user/user" class="btn btn-primary">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users Management
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <button id="exportTable" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                Export to Excel
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="~/home/DownloadAll"> All Actions </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/home/DownloadIPD">Non-Closed Actions</a></li>
                                @*<li><a href="~/home/test">test</a></li>*@
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Menu de Graficas:Tab de las graficas-->
        <div id="menu1" class="tab-pane fade">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Graph Results</h2>
                </div>
                
                <!--Botones para llamar lo que hay que mostrar en el objeto Chart-->
                <div class="panel-body">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default" id="progress">By progress</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default" id="closed">By closed %</button>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-default" id="topten">Top Ten Owners</button>
                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-default" id="monthly">By Month</button>    
                    </div> 
                </div>
                <!--Objeto dropdown para los años del monthly-->
                <div id="yearDiv" class="panel-body col-sm-2 hidden">
                    <label id="year">Select Year: </label>
                    <select id="yearcontrol"  class="form-control " name="year">
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
                <!--Objeto Label p/cuando no hay nada que desplegar en el chart-->
                <div class="panel-body">
                    <label id="lblInfo" class="alert-info center-block text-center hidden"> There is no data to display for this request.</label>
                </div>
                
                
                    <!--Objeto Chart-->
               <div>
                   
                 <div id="chart1" class="panel-body col-md-12" ></div>
                <br />
                
            <!--Objeto Label p/ especificar los detalles de lo desplegado en Top Ten Owners o la fecha de los mensuales-->
                   <div>
                       <label id="chartInfo"> </label>
                   </div>
            
                </div>

        </div>
            
            </div>
       <!--Tab con la tabla que contiene los Action List (DESARROLLO NUEVO)-->
        <div id="menu2" class="tab-pane fade @(Model.updated==true?" in active":"")">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">Action List</h2>
                    <br />
                </div>
                <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; margin-bottom:30px">
                    <span></span>
                    <i class="glyphicon glyphicon-calendar fa fa-calendar" style="float:right"></i>
                </div>
                <!--Panel de Opciones de la Action List Tab-->
                <div class="panel-body">
                    <ul class="nav nav-pills nav-justified">
                        <!--Boton para ir a la pagina de registro-->
                        <li>
                            <a href="~/registerLesson/lesson" class="pestania btn-success">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Action
                            </a>
                        </li>
                        <!--Tablas por estado-->
                        <li id="li1" class="@(Model.table==null||Model.table==1? "active":"")"><a data-toggle="tab" href="#table1" class="pestania">In Progress</a></li>
                        <li id="li2" class="@(Model.table==2?"active":"")"><a id="tab2" data-toggle="tab" href="#table2" class="pestania">Delayed</a></li>
                        <li id="li4" class="@(Model.table==4?"active":"")"><a id="tab4" data-toggle="tab" href="#table4" class="pestania">On Hold</a></li>
                        <li id="li3" class="@(Model.table==3?"active":"")"><a id="tab3" data-toggle="tab" href="#table3" class="pestania">Closed</a></li>
                    </ul>
                    <div class="col-md-12">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="tab-content">
                        <!--Tabs de Action List"-->
                        <div id="table1" class="tab-pane fade in active">
                            <!--Tabla de In Progress-->
                            <table id="mainTable" class="table table-bordered table-hover table-responsive" data-toggle="table"
                                   data-sortable="true" data-search="true" data-pagination="true" data-sort-name="date" data-sort-order="desc">
                                <thead>
                                    <tr>
                                        <th data-field="fileID">File</th>
                                        <th data-field="plant" data-sortable="true">Plant</th>
                                        <th data-field="pID" data-sortable="true">Product ID</th>
                                        <th data-field="issue" data-sortable="true">Issue</th>
                                        <th data-field="aItem" data-sortable="true">Action Item</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="date" data-sortable="true">Date</th>
                                        <th data-field="tDate" data-sortable="true">Target Date</th>
                                        <th data-field="cDate" data-sortable="true">Close Date</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="sUpdate" data-sortable="true">Status Update</th>
                                        <th data-field="update" class="@(Model.found==false? "block":"")" id="update">Update</th>
                                    </tr>
                                </thead>
                                <tbody id="mainTableBody">



                                    @foreach (actionList accion in Model.listaAcciones)
                                    {
                                        if (accion.status == "In Progress")
                                        {
                                            switch (accion.priority)
                                            {

                                                case ("Medium"):
                                                    Model.priorityColor = "warning";
                                                    break;
                                                case ("High"):
                                                    Model.priorityColor = "danger";
                                                    break;
                                                default:
                                                    Model.priorityColor = "";
                                                    break;

                                            }

                                            <tr id="@accion.reportID">
                                                @if (accion.files.Count == 0)
                                                {
                                                    <td>No file found</td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        <form class="" method="post" action="~/home/getFile">
                                                            <input type="hidden" name="reportID" value="@accion.reportID" />
                                                            <div class="btn-group-vertical">
                                                                <button type="submit" class="btn btn-link" id="file">
                                                                    <span class="glyphicon glyphicon-paperclip"></span>
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </td>

                                                }
                                                <td>@accion.plant</td>
                                                <td>@accion.productID</td>
                                                <td>@accion.issue</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.actionItem
                                                    </div>
                                                </td>
                                                <td class="@Model.priorityColor">@accion.status</td>
                                                <td> @(accion.date != null ? accion.date.ToString("yyyy/MM/dd") : "No Initial Date") </td>
                                                <td>@(accion.targetDate != null ? accion.targetDate.Value.ToString("yyyy/MM/dd") : "TBD")</td>
                                                <td>
                                                    @(accion.closed != null ? accion.closed.Value.ToString("yyyy/MM/dd") : "Ongoing")
                                                </td>
                                                <td>@accion.owner</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.statusUpdate
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_@accion.reportID">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                        Update
                                                    </button>
                                                    <form class="" method="post" action="~/home/delete">
                                                        <input type="hidden" name="reportID" value="@accion.reportID" />
                                                        <div class="btn-group-vertical">
                                                            <button type="submit" class="btn btn-danger"
                                                                    onclick="return confirm('Warning: You are about to delete an Action. ' +
                                                                                            'If you do this, all the Lesson information and its files will be lost. '+
                                                                                            'Are you sure yo want to delete it?')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }


                                    }
                                </tbody>
                                <tfoot id="mainTableFooter"></tfoot>
                            </table>
                        </div>
                        <div id="table2" class="tab-pane fade">
                            <!--Tabla de Delayed-->
                            <table id="delayedTable" class="table table-bordered table-hover table-responsive" data-toggle="table"
                                   data-sortable="true" data-search="true" data-pagination="true" data-sort-name="date" data-sort-order="desc">
                                <thead>
                                    <tr>
                                        <th data-field="fileID"> File</th>
                                        <th data-field="plant" data-sortable="true">Plant</th>
                                        <th data-field="pID" data-sortable="true">Product ID</th>
                                        <th data-field="issue" data-sortable="true">Issue</th>
                                        <th data-field="aItem" data-sortable="true">Action Item</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="date" data-sortable="true">Date</th>
                                        <th data-field="tDate" data-sortable="true">Target Date</th>
                                        <th data-field="cDate" data-sortable="true">Close Date</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="sUpdate" data-sortable="true">Status Update</th>
                                        <th data-field="update" class="@(Model.found==false? "block":"")" id="update">Update</th>
                                    </tr>
                                </thead>
                                <tbody id="delayedTableBody">

                                    @foreach (actionList accion in Model.listaAcciones)
                                    {
                                        if (accion.status == "Delayed")
                                        {
                                            switch (accion.priority)
                                            {

                                                case ("Medium"):
                                                    Model.priorityColor = "warning";
                                                    break;
                                                case ("High"):
                                                    Model.priorityColor = "danger";
                                                    break;
                                                default:
                                                    Model.priorityColor = "";
                                                    break;

                                            }
                                            <tr id="@accion.reportID">
                                                @if (accion.files.Count == 0)
                                                {
                                                    <td>No file found</td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        <form class="" method="post" action="~/home/getFile">
                                                            <input type="hidden" name="reportID" value="@accion.reportID" />
                                                            <div class="btn-group-vertical">
                                                                <button type="submit" class="btn btn-link" id="file">
                                                                    <span class="glyphicon glyphicon-paperclip"></span>
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </td>

                                                }
                                                <td>@accion.plant</td>
                                                <td>@accion.productID</td>
                                                <td>@accion.issue</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.actionItem
                                                    </div>
                                                </td>
                                                <td class="@Model.priorityColor">@accion.status</td>
                                                <td> @(accion.date != null ? accion.date.ToString("yyyy/MM/dd") : "No Initial Date") </td>
                                                <td>@(accion.targetDate != null ? accion.targetDate.Value.ToString("yyyy/MM/dd") : "TBD")</td>
                                                <td>
                                                    @(accion.closed != null ? accion.closed.Value.ToString("yyyy/MM/dd") : "Ongoing")
                                                </td>
                                                <td>@accion.owner</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.statusUpdate
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" data-toggle="modal" class="btn btn-default" data-target="#modal_@accion.reportID">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                        Update
                                                    </button>
                                                    <form class="" method="post" action="~/home/delete">
                                                        <input type="hidden" name="reportID" value="@accion.reportID" />
                                                        <div class="btn-group-vertical">
                                                            <button type="submit" class="btn btn-danger"
                                                                    onclick="return confirm('Warning: You are about to delete an Action. ' +
                                                                                            'If you do this, all the Lesson information and its files will be lost. ' +
                                                                                            'Are you sure yo want to delete it?')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }


                                    }
                                </tbody>

                            </table>

                        </div>
                        <div id="table3" class="tab-pane fade">
                            <!--Tabla de Closed-->
                            <table id="closedTable" class="table table-bordered table-hover table-responsive" data-toggle="table"
                                   data-sortable="true" data-search="true" data-pagination="true" data-sort-name="date" data-sort-order="desc">
                                <thead>

                                    <tr>
                                        <th data-field="fileID">File</th>
                                        <th data-field="plant" data-sortable="true">Plant</th>
                                        <th data-field="pID" data-sortable="true">Product ID</th>
                                        <th data-field="issue" data-sortable="true">Issue</th>
                                        <th data-field="aItem" data-sortable="true">Action Item</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="date" data-sortable="true">Date</th>
                                        <th data-field="tDate" data-sortable="true">Target Date</th>
                                        <th data-field="cDate" data-sortable="true">Close Date</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="sUpdate" data-sortable="true">Status Update</th>
                                        <th data-field="update" class="@(Model.found==false? "block":"")" id="update">Update</th>
                                    </tr>
                                </thead>
                                <tbody id="closedTableBody">

                                    @foreach (actionList accion in Model.listaAcciones)
                                    {
                                        if (accion.status == "Closed")
                                        {
                                            <tr id="@accion.reportID">
                                                @if (accion.files.Count == 0)
                                                {
                                                    <td>No file found</td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        <form class="" method="post" action="~/home/getFile">
                                                            <input type="hidden" name="reportID" value="@accion.reportID" />
                                                            <div class="btn-group-vertical">
                                                                <button type="submit" class="btn btn-link" id="file">
                                                                    <span class="glyphicon glyphicon-paperclip"></span>
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </td>

                                                }
                                                <td>@accion.plant</td>
                                                <td>@accion.productID</td>
                                                <td>@accion.issue</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.actionItem
                                                    </div>
                                                </td>
                                                <td>@accion.status</td>
                                                <td> @(accion.date != null ? accion.date.ToString("yyyy/MM/dd") : "No Initial Date") </td>
                                                <td>@(accion.targetDate != null ? accion.targetDate.Value.ToString("yyyy/MM/dd") : "TBD")</td>
                                                <td>
                                                    @(accion.closed != null ? accion.closed.Value.ToString("yyyy/MM/dd") : "Ongoing")
                                                </td>
                                                <td>@accion.owner</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.statusUpdate
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" data-toggle="modal" class="btn btn-default btnModal" data-target="#modal_@accion.reportID">
                                                        @*<button type="button" data-id="@accion.reportID" name="btnModal" class="btn btn-default btnModal" >*@
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                        Update
                                                    </button>
                                                    <form class="" method="post" action="~/home/delete">
                                                        <input type="hidden" name="reportID" value="@accion.reportID" />
                                                        <div class="btn-group-vertical">
                                                            <button type="submit" class="btn btn-danger"
                                                                    onclick="return confirm('Warning: You are about to delete an Action. ' +
                                                                                            'If you do this, all the Lesson information and its files will be lost. ' +
                                                                                            'Are you sure yo want to delete it?')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }


                                    }
                                </tbody>

                            </table>

                        </div>
                        <div id="table4" class="tab-pane fade">

                            <!--Tabla de Holds-->
                            <table id="criticalTable" class="table table-bordered table-hover table-responsive" data-toggle="table"
                                   data-sortable="true" data-pagination="true">

                                <thead>
                                    <tr>
                                        <th data-field="fileID">File</th>
                                        <th data-field="plant" data-sortable="true">Plant</th>
                                        <th data-field="pID" data-sortable="true">Product ID</th>
                                        <th data-field="issue" data-sortable="true">Issue</th>
                                        <th data-field="aItem" data-sortable="true">Action Item</th>
                                        <th data-field="status" data-sortable="true">Status</th>
                                        <th data-field="date" data-sortable="true">Date</th>
                                        <th data-field="tDate" data-sortable="true">Target Date</th>
                                        <th data-field="cDate" data-sortable="true">Close Date</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="sUpdate" data-sortable="true">Status Update</th>
                                        <th data-field="update" class="@(Model.found==false? "block":"")" id="update">Update</th>
                                    </tr>
                                </thead>
                                <tbody id="criticalTableBody">

                                    @foreach (actionList accion in Model.listaAcciones)
                                    {
                                        if (accion.status == "On Hold")
                                        {
                                            <tr id="@accion.reportID">
                                                @if (accion.files.Count == 0)
                                                {
                                                    <td>No file found</td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        <form class="" method="post" action="~/home/getFile">
                                                            <input type="hidden" name="reportID" value="@accion.reportID" />
                                                            <div class="btn-group-vertical">
                                                                <button type="submit" class="btn btn-link" id="file">
                                                                    <span class="glyphicon glyphicon-paperclip"></span>
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </td>

                                                }
                                                <td>@accion.plant</td>
                                                <td>@accion.productID</td>
                                                <td>@accion.issue</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.actionItem
                                                    </div>
                                                </td>
                                                <td>@accion.status</td>
                                                <td> @(accion.date != null ? accion.date.ToString("yyyy/MM/dd") : "No Initial Date") </td>
                                                <td>@(accion.targetDate != null ? accion.targetDate.Value.ToString("yyyy/MM/dd") : "TBD")</td>
                                                <td>
                                                    @(accion.closed != null ? accion.closed.Value.ToString("yyyy/MM/dd") : "Ongoing")
                                                </td>
                                                <td>@accion.owner</td>
                                                <td>
                                                    <div class="scroll">
                                                        @accion.statusUpdate
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" data-toggle="modal" class="btn btn-default" data-target="#modal_@accion.reportID">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                        Update
                                                    </button>
                                                    <form class="" method="post" action="~/home/delete">
                                                        <input type="hidden" name="reportID" value="@accion.reportID" />
                                                        <div class="btn-group-vertical">
                                                            <button type="submit" class="btn btn-danger"
                                                                    onclick="return confirm('Warning: You are about to delete an Action. ' +
                                                                                            'If you do this, all the Lesson information and its files will be lost. '+
                                                                                            'Are you sure yo want to delete it?')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        }


                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <!--Enlace p/ registrar una nueva accion-->
                    <a href="http://10.7.20.5//lessondb/registerLesson/register" class="btn btn-success" role="button" style="float:left">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Action
                    </a>

                </div>

                <div class="panel-footer">



                </div>
            </div>
        </div>
    </div>
   
   @*Nuevo modal*@
    <form class="modal fade" method="post" action="~/home/actualizar" id="neo_modal" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Data</h4>
                </div>
                <div class="modal-body">
                    <!--repID=ReportID-->
                    <input type="hidden" name="repID" value="" />
                    <div class="form-group center-block">
                        <label>Plant</label>
                        <select class="form-control" name="plt">
                            <option value="ALL">ALL</option>
                            <option value="BDM">BDM</option>
                            <option value="BHUN">BHUN</option>
                            <option value="BXL">BXL</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Product ID</label>
                        <input name="pID" type="text" value="" maxlength="13" />
                    </div>

                    <div class="form-group">
                        <label>Issue</label>
                        <input name="iss" type="text" value="" maxlength="100" />
                    </div>
                    <div class="form-group">
                        <label>Action Item</label>
                        <textarea name="aIt" style="resize:none" class="form-control" maxlength="1000"> </textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority Level</label>
                        @*<select class="form-control" name="pri">
                            @if (accion.status == "Closed")
                            {
                                <option value="None">None</option>
                            }
                            @if (accion.status != "Closed")
                            {
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            }
                        </select>*@

                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="sta">

                            <option value="In Progress">In Progress</option>
                            <option value="Delayed">Delayed</option>
                            <option value="On Hold">On Hold</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Target Date</label>
                        <input name="tDa" type="date" value="" />
                    </div>
                    <div class="form-group">
                        <label>Closed Date</label>
                        <div class="input-group">
                            <input name="cls" type="date" class="form-control" id="selDate" value="" readonly="readonly" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="toggleDate();">
                                    Modify
                                </button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Owner</label>
                        <input name="own" type="text" value="" maxlength="30" />
                    </div>
                    <div class="form-group">
                        <label>Status Update</label>
                        <textarea name="sUp" style="resize:none" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>
                            Upload File (Word, Excel, PowerPoint and PDF files only)
                        </label>
                        <input type="file" name="fileup" class="file" data-show-preview="false" data-show-upload="false">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
    
    
    
     <script type="text/javascript">
        $(document).ready(function () {
            var global = {
                rowDelete: null
            };
           
           
            $('#btnModal').on("click", function () {
                debugger;
                var url = "../Home/Asignacion?id=" + $(this).attr("data-id");

                    global.rowDelete = $(this).parent().parent();

                    $.getJSON(url, function (r) {
                        debugger;

                    });


                    $('#modal1').openModal();
                });

            });
       
    </script>
    <script type="text/javascript">
        var filterDate = {
            start: new Date(),
            end: new Date(),
            id : 0,
            cuerda:[]
        }
        //date range
        $(document).ready(function () {
            function filter(starts, ends) {

                var url= "http://10.7.20.5/lessondb/home/filterdate";
                //var url = "../../home/filterdate";
                debugger
                var lvl = parseInt(document.getElementById('permitlvl').value.toString());
                $.getJSON(url, { ini: starts, fin: ends,lvl:lvl }, function (r) {

                    
                    $('table').remove();
                    $('#table1').html(r[0]);
                    $('#table2').html(r[1]);
                    $('#table4').html(r[2]);
                    $('#table3').html(r[3]);
                    $('[data-toggle="table"]').bootstrapTable();
                })

            }
            function cb(start, end) {
                
                filterDate.start = start._d;
                filterDate.end = end._d;
                filter(start.format('MM-DD-YYYY'), end.format('MM-DD-YYYY'))
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            $('#reportrange span').html("Select Date Range")
            $('#reportrange').daterangepicker({
                showDropdowns: true,
                linkedCalendars: false,
                startDate: moment("2015-01-01"),
                endDate:moment(),
                opens: 'center',
                ranges: {
                    'All':[moment("2015-01-01"),moment()],
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

        });
    </script>


   
    <script type="text/javascript">
        //Control de Tabs con los botones en el Tab Home
        $(document).ready(function () {
            
            $('#buttonGraph').on('click', function () { activaTab('menu1') });

            $('#buttonTable').on('click', function () { activaTab('menu2') });
            $.get()

            function activaTab(tab) {
                $('#mainUL a[href="#' + tab + '"]').tab('show');

            }
        });

    </script>
 
        <script type="text/javascript">
            //Control de Paginacion para tablas: Se ha creado por un bug en el despliegue de las tablas.
            $(document).ready(function () {
                function revealTables() {
                    if (flag1 == false) {

                        $dTbl.bootstrapTable('togglePagination');
                        $clTbl.bootstrapTable('togglePagination');
                        $crTbl.bootstrapTable('togglePagination');
                        flag1 =true;
                    }
                }
                var tabl2 = document.getElementById('delayedTable');
                var flag = false;
                var flag1 = false;
                var tabl3 = document.getElementById('closedTable');
                var tabl4 = document.getElementById('criticalTable');
                var $dTbl = $('#delayedTable');
                var $clTbl = $('#closedTable');
                var $crTbl = $('#criticalTable');
                var li1 = document.getElementById('li1');
                var li2 = document.getElementById('li2');
                var li3 = document.getElementById('li3');
                $('#menu2b').on('click', function () {
                    
                    if (flag == false) {
                        flag = true
                        li1.setAttribute('class', 'active');
                        li2.classList.remove('active');
                        li3.classList.remove('active');
                        $dTbl.bootstrapTable('togglePagination');
                        $clTbl.bootstrapTable('togglePagination');
                        $crTbl.bootstrapTable('togglePagination');
                        $('#tab2').on('click', revealTables);
                        $('#tab3').on('click', revealTables);
                    }
                })})
            
            
    </script>
    <!--Scripts para las graficas-->
    <!--Progress jqplot script-->
    <script type="text/javascript">
                   $(document).ready(function () {                    


                       $('#progress').on('click', function () {
                            $(chart1).empty();
                            //$('#chartInfo').hide();
                            var texto = ''
                            $('#chartInfo').html(texto);

                            $('#yearDiv').addClass('hidden');
                            $.ajax({
                                url: "http://10.7.20.5/lessondb/home/graficarA",
                                //url: "http://s07dc2/lessondb/home/graficarA",
                                //url: "http://localhost:52783/home/graficarA",
                                type: "GET",
                                success: function (data) {
                                    var msg = document.getElementById('lblInfo');
                                    if (data.length != 0) {
                                        if (!msg.classList.contains('hidden')) {
                                            msg.classList.add("hidden")
                                        }
                                        var plot = $.jqplot('chart1', [[[data.tickProgress, data.Progress], [data.tickclsOnTime, data.clsOnTime], [data.tickclsLate, data.clsLate]]], {
                                            animate: true,
                                            series: [{
                                                renderer: $.jqplot.BarRenderer, rendererOptions: { varyBarColor: true }
                                            }],
                                            seriesColors: ['#385ca9', '#2bb600', '#e70000', '#C7754C', '#17BDB8'],
                                            axes: {
                                                xaxis: {

                                                    renderer: $.jqplot.CategoryAxisRenderer,
                                                    tickRenderer: $.jqplot.CanvasAxisTickRenderer
                                                }
                                            },
                                            seriesDefaults: {
                                                pointLabels: {
                                                    show: true
                                                }
                                            }
                                        });
                                        $('#chart1').bind('jqplotDataHighlight',
                       function (ev, seriesIndex, pointIndex, datito) {
                           var texto = '';
                         $('#chartInfo').html(texto);

                       }
                   );

                                        $('#chart1').bind('jqplotDataUnhighlight',
                                            function (ev) {


                                                $('#chartInfo').html('');
                                            }
                                        );
                                    } else {
                                        msg.classList.remove("hidden")
                                    }
                                },
                                error: function () {
                                    alert("AJAX error reading details.");
                                }
                            });
                        });
                    });
    </script>
    <!--Closed % jqplot script-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#closed').on('click', function () {
                $(chart1).empty();
                
                var texto = ''
                $('#chartInfo').html(texto);

                $('#yearDiv').addClass('hidden');
                $.ajax({
                    url: "http://10.7.20.5/lessondb/home/graficarB",
                    //url: "http://s07dc2/lessondb/home/graficarB",
                    //url: "http://localhost:52783/home/graficarB",
                    type: "GET",
                    success: function (data) {
                        var msg = document.getElementById('lblInfo');
                        if (data.length != 0) {

                            $('#chartInfo').hide();
                            if (!msg.classList.contains('hidden')) {
                                msg.classList.add("hidden")
                            }
                            var plot = $.jqplot('chart1', [[[data.tickprcOnTime, data.prcOnTime], [data.tickprcLate, data.prcLate]]], {
                                animate: true,
                                series: [{
                                    renderer: $.jqplot.BarRenderer, rendererOptions: { varyBarColor: true }
                                }],
                                seriesColors: ['#2bb600', '#e70000', '#C7754C', '#17BDB8', '#385ca9'],
                                axes: {
                                    xaxis: {
                                        renderer: $.jqplot.CategoryAxisRenderer,
                                        tickRenderer: $.jqplot.CanvasAxisTickRenderer
                                    },
                                    yaxis: {
                                        tickOptions: {
                                            formatString: function () { return '%s%'; }()
                                        }

                                    }
                                },
                                seriesDefaults: {
                                    pointLabels: {
                                        show: true
                                    }
                                },

                            });
                            $('#chart1').bind('jqplotDataHighlight',
           function (ev, seriesIndex, pointIndex, datito) {
               var texto = '';
               $('#chartInfo').html(texto);

           }
       );

                            $('#chart1').bind('jqplotDataUnhighlight',
                                function (ev) {


                                    $('#chartInfo').html('');
                                }
                            );
                        } else {
                            msg.classList.remove("hidden")
                        }
                    },
                    error: function () {
                        alert("AJAX error reading details.");
                    }
                });
            });
        });
    </script>
    <!--Top Ten Ownews jqplot script-->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#topten').on('click', function () {
                $(chart1).empty();
                $('#chartInfo').show();
                texto = 'Owner:<br/>In Progress:<br/>Delayed:<br/>Total:';
                $('#chartInfo').html(texto);

                $('#yearDiv').addClass('hidden');
                $.ajax({

                    url: "http://10.7.20.5/lessondb/home/graficarC",
                    //url: "http://s07dc2/lessondb/home/graficarC",
                    //url: "http://localhost:52783/home/graficarC",
                    type: "GET",

                    success: function (data) {
                        
                        var msg = document.getElementById('lblInfo');
                        if (data.length != 0) {

                            if (!msg.classList.contains('hidden')) {
                                msg.classList.add("hidden")
                            }
                            var prog = [];
                            var delayed = [];
                            var owners = [];

                            for (var i = 0; i < data.length; i++) {
                                prog[i] = data[i].progress;
                                delayed[i] = data[i].delayed;
                                owners[i] = data[i].owner;
                            }


                            var plot = $.jqplot('chart1', [prog, delayed], {
                                animate: true,
                                stackSeries: true,
                                captureRightClick: true,
                                series: [
                                    { label: 'In Progress' }, { label: 'Delayed' }]
                                ,
                                seriesDefaults: {
                                    renderer: $.jqplot.BarRenderer,
                                    rendererOptions: {
                                        animation: {
                                            speed: 2500
                                        },
                                        varyBarColor: true,
                                        barMargin: 25
                                    },

                                }, seriesColors: ['#2bb600', '#e70000', '#1fcbd0', '#79d026', '#d25944', '#1fd096', '#bfdf17', '#ea701e', '#4a725f'],

                                legend: {
                                    show: true,
                                    location: 'ne',
                                    placement: 'outsideGrid'
                                },
                                axes: {
                                    xaxis: {
                                        renderer: $.jqplot.CategoryAxisRenderer,
                                        ticks: owners
                                    }

                                },

                            });
                            $('#chart1').bind('jqplotDataHighlight',
           function (ev, seriesIndex, pointIndex, datito) {
               var texto = '';
               $('#chartInfo').show();
               texto = 'Owner: ' + data[pointIndex].owner + "<br/>In Progress: " + data[pointIndex].progress + "<br/> Delayed: " + data[pointIndex].delayed + "<br/> Total: " + data[pointIndex].total;
               $('#chartInfo').html(texto);

           }
       );

                            $('#chart1').bind('jqplotDataUnhighlight',
                                function (ev) {


                                    var texto = 'Owner:<br/>In Progress:<br/>Delayed:<br/>Total:'
                                    $('#chartInfo').html(texto);
                                    $('#chartInfo').show();
                                }
                            );

                        } else {
                            msg.classList.remove("hidden")
                        }
                    },
                    error: function () {
                        alert("AJAX error reading details.");
                    }
                });
            });
        });
    </script>
  <!--Grafica de muestra mensual de datos de la A-->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#yearcontrol').on('change', function () {
                graphD();
            });

            $('#monthly').on('click',function(){
                graphD();
            });

                function graphD () {
                
                $(chart1).empty();
                
                var texto = ''
                $('#chartInfo').html(texto);
                $('#chartInfo').removeClass('hidden');
                $('#yearDiv').removeClass('hidden');
                var year = parseInt(document.getElementById('yearcontrol').value.toString());
                
                $.ajax({
                    url: "http://10.7.20.5/lessondb/home/graficarD",
                    //url: "http://s07dc2/lessondb/home/graficarD",
                    //url: "http://localhost:52783/home/graficarD",
                    //url: "http://localhost:52783/home/graficarDTest",
                    type: "GET",
                    data: { year: year },
                    dataType:"json",                        
                    success: function (data) {
                        debugger;
                                                
                        var late = [];
                        var month = [];
                        var ontime = [];
                        var opened=[]
                        for (var i = 0; i < data.length; i++) {
                            late[i] = data[i].late;
                            month[i] = data[i].month;
                            ontime[i] = data[i].ontime;
                            opened[i] = data[i].opened;
                            
                        }
                        debugger;
                        var meses = ["January", "February", "March", "April", "May", "June",
                                "July", "August", "September", "October", "November", "December"];

                        var plot = $.jqplot('chart1', [opened,ontime,late], {
                            animate: true,
                            //stackSeries: true,
                            captureRightClick: true,
                            series: [
                                { label: 'Opened' }, { label: 'Closed On Time' }, {label:"Closed Late"}]
                                ,
                            seriesDefaults: {
                                renderer: $.jqplot.BarRenderer,
                                pointLabels:{show:true},
                                rendererOptions: {
                                    animation: {
                                        speed: 2500
                                    },
                                    //varyBarColor: true,
                                    barMargin: 25
                                },

                            },
                            seriesColors: ['#1fcbd0', '#2bb600', '#e70000' ],

                            legend: {
                                show: true,
                                location: 'ne',
                                placement: 'outsideGrid'
                            },
                            axes: {
                                xaxis: {
                                    renderer: $.jqplot.CategoryAxisRenderer,
                                    ticks: meses
                                }

                            },

                        });
                        $('#chart1').bind('jqplotDataHighlight',
       function (ev, seriesIndex, pointIndex, datito) {
           var texto = '';
           texto = ""
           $('#chartInfo').html(texto);

       }
   );

                        $('#chart1').bind('jqplotDataUnhighlight',
                            function (ev) {


                                var texto = ""
                                $('#chartInfo').html(texto);
                            }
                        );

                                          
                    },
                    error: function () {
                        alert("AJAX error reading details.");
                    }
                });
            };
        });
    </script>

   

    <!--Script para el toggle dentro del modal (Date Closed)-->
    <script type="text/javascript">
        function toggleDate() {
            if ($(selDate).attr('readonly') == 'readonly') {
                $(selDate).removeAttr('readonly');
            }
            else {
                $(selDate).attr('readonly', 'readonly');
            }
        }
        </script>
    






</body>